:root {
    --header-color:#EEEFF1;
    --description-color: #727272;
    --project-color:#34547A;
    --text-color:#FFFFFF;
}
* {
    box-sizing: border-box;
}

body {
font-family: "Roboto", sans-serif;
letter-spacing: 0.1em;
font-size: 16px;
font-weight: 400;
}

.container {
   width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.header {
    background-color: var(--header-color);
}

.header__list {
    display: flex;
    flex-direction: row;
    gap: 42px;
}

.list__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.list__item a:hover {
    color: #34547A;
    font-weight: 500;
}

.header__navbar {
    padding-top: 79px;
    padding-bottom: 162px;
}

.header__content h1 {
    font-size: 48px;
    font-weight: 500;
    padding-bottom: 60px;
}
.header__description {
    color: var(--description-color);
    width: 540px;
    letter-spacing: 0.03em;
    line-height: 26px;
    padding-bottom: 65px;
}

.button {
    background-color: var(--project-color);
    height: 65px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__text {
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 0.15em;
    height: 25px ;
}

.header__content {
    padding-bottom: 140px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 540px;
    padding-top: 112px;
    padding-bottom: 100px;
}

h2{
    font-size: 32px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 50px;
}

.description {
    color: var(--description-color);
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.025em;
}

.project__container {
    background: var(--project-color);
    padding: 100px 0;
}

.project {
    display: flex;
    flex-direction: row;
    gap: 49px;
}

.project__item {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 141px;
    background: no-repeat url("./assets/project.svg");
    padding-left: 70px;
    letter-spacing: 0.05em;
}

.project__item span {
    font-size: 21px;
}

.main {
    background-color: var(--header-color);
    padding-block: 100px;
}

.main__container {
    width: 540px;
    padding-bottom: 57px;
    margin: 0 auto;
}

.main__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    background: var(--project-color);
    padding-block: 50px;
}

.footer__description {
    color: var(--text-color);
    font-weight: 500;
    font-size: 21px;
    letter-spacing: 0.01em;
    padding-bottom: 20px;
}

.copyright {
    color: var(--text-color);
    font-size: 13px;
    letter-spacing: 0.01em;
}

@media (max-width: 375px) {
    .container {
        width: 355px;
        padding: 0 10px;
        margin: 0 auto;
    }

    .header__list {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .header__navbar {
        padding-top: 30px;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

    .header__content h1 {
        font-size: 36px;
        font-weight: 500;
        text-align: center;
    }

    .header__description {
        width: 100%;
        text-align: center;
    }

    .button {
        margin: 0 auto;
    }

    .about {
        padding-block: 60px;
    }

    .project__container {
        padding-block: 50px;
    }

    .project {
        flex-wrap: wrap;
        gap: 25px;
    }

    .project__item {
        padding-left: 60px;
    }
    .main__container {
        width: 100%;
        padding-bottom: 57px;
        margin: 0 auto;
    }

    iframe {
        width: 335px;
        height: 200px;
    }
}

@media (min-width: 1260px) {

    body {
        font-size: 1.2em;
    }

    .header__list {
        gap: 65px;
        font-size: 1.5em;
    }

    .header__content {
        padding-bottom: 200px;
    }

    .header__content h1 {
        font-size: 72px;
    }

    .header__description {
        width: 800px;
        line-height: 45px;
        font-size: 26px;
        padding-bottom: 90px;
    }

    .button {
        width: 280px;
        height: 80px;
    }

    .header__content h1 {
        padding-bottom: 90px;
    }

    .about {
        width: 800px;
        padding-top: 160px;
        padding-bottom: 150px;
    }

    h2 {
        font-size: 40px;
        padding-bottom: 100px;
    }

    .description {
        line-height: 36px;
        font-size: 24px;
    }

    .main__container {
        width: 800px;
        padding-bottom: 75px;
        margin: 0 auto;
    }

    .project {
        justify-content: space-between;
    }

    .project__item {
        height: 70px;
        padding-left: 80px;
        background: no-repeat url(./assets/project2.svg);
    }
    .project__item span {
        font-size: 28px;
    }

    .footer__description {
        font-size: 26px;
    }

    .copyright {
        font-size: 18px;
    }
}